@import "tailwindcss";

@theme {
  --color-jef-green: #2f8b09;
  --color-jef-red: #FE0705;
  --color-jef-dark: #121212;
}

:root {
  --background: #ffffff;
  --foreground: #121212;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}